i[class^="devicon-"] {
  font-size: 3.25em;
}

#banner {
  background-image: url("../../images/northern-lights-starry-night.jpeg") ;
}

#banner .inner {
  /* box-shadow: 0 0 rgba(0,0,0,.5); */
  text-shadow: 1px 1px black,
              /* -1px 1px black,
              -1px -1px black,
              1px -1px black, */
              0 0 30px teal;
  /* stroke: 1in black; */
}

#banner p {
  font-weight: bold;
}

#techCircle {
  background-image: url("/images/pic02.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
      /* the following one worked, but not on all browsers */
      /* okay, MDN says it works on everything I care about, and that's all I care about */
      aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#techThing {
  font-size: 14vw;
}

#techList {
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

#techList:hover {
  /* border: 2px solid white; */
  /* border-radius: 4px; */
  background-color: rgba(255, 255, 255, 0.05);
}

/* .features article:hover {
  transition: background-color 0.2s ease-in-out;
}
.features article:hover {
  background-color: rgba(255, 255, 255, 0.05);
} */

.modalImg {
  position: relative;
  top: -18px;
  width: 100%;
}

nav#modal {
  visibility: hidden;
  display: none;
}

#modalPlease {
  cursor: pointer;
}

.tooltip {
  color: #ffffff;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  cursor: help;
}
