i[class^="devicon-"] {
  font-size: 3.25em;
}

#techCircle {
  background-image: url("/images/pic02.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
      /* the following one worked, but not on all browsers */
      /* okay, MDN says it works on everything I care about, and that's all I care about */
      aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#techThing {
  font-size: 14vw;
}

.modalImg {
  position: relative;
  top: -18px;
  width: 100%;
}

nav#modal {
  visibility: hidden;
  display: none;
}

.tooltip {
  color: #ffffff;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  cursor: help;
}
